
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Young Serif", serif;
}

.Navbar{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    border-bottom: solid black 2px;
    gap:20px;
    align-items: center;
    position: sticky;
    top:0;
    background-color:white;
    z-index:1;
}

.Navbar__s1__title{

    color:blueviolet;

}

.Navbar__s2__search{

    padding: 10px;
    border: solid black 1px;
    border-radius:30px;
    width:60%;
    display:flex;
    gap:10px;
    align-items: center;

}

.Navbar__s2__search input{
     
    border: none;
    width:100%;
    font-size: 18px;
    background-color:transparent;

}

.Navbar__s2__search input:focus{
      
      outline:none;
}

.Navbar__s3__icons{
    display: flex;
    gap:20px;
    align-items: center;
}

.My-Learning{

    position: relative;
    cursor: pointer;
    
}

.My-Learning__popup{

    position: absolute;
    background-color:white;
    color: brown;
    border: solid black 2px;
    border-radius:30px;
    width:100px;
    padding:30px;
    top:150%;
    right:0;
    display:none;
}

.My-Learning:hover .My-Learning__popup{

    display: block;
}

.Categories{
    display: flex;
    flex-wrap:wrap;
    padding: 20px;
    border-bottom: solid black 2px;
    justify-content: space-between;
}

.Categories p{

    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    cursor:pointer;
    border: solid blueviolet 1px;
   
}

.Categories p:hover{
    transition:1s;    
    background-color: transparent;
    color: black;
    border: solid blueviolet 1px;



}




.Sale-image{

    position: relative;
   
}

.Sale-image img{

    width:100%;
}

.Sale-image__offer{
    width:30%;
    border:solid black 3px;
    background-color:white;
    padding:2%;
    position: absolute;
    top:10%;
    left: 10%;
    animation-name: zoom;
    animation-duration:2s;
    opacity: 0;
    animation-fill-mode: forwards;


}
 @keyframes zoom{

   0%{

    transform: scale(0);
    opacity:0;

   }
   100%{

      transform:scale(1);
      opacity: 1;
   }

 }

 
 
.Recommended{

    padding: 10px;
}

.Recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    

}
      
.Course-card{

    flex-grow:1px;
    flex-basis:20%;
    margin: 5px;
}
.Course-card img{
    width: 100%;
}

.Topics{

    padding: 10px;
}

.Topics__container{

    display: flex;
    gap:10px;
    margin: 10px;
    flex-wrap:wrap;

}

.Topics__container p{

    padding: 10px;
    border: solid black 2px;
    flex-grow: 1;
    flex-basis: 25%;
}

.Popular{

    padding: 10px;
    
}

.Popular__container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.Footer{

    padding: 30px;
    background-color: black;
    color: white;

}

.Footer-one{
    display: flex;
    gap:10px;
}

.Footer-one p{

    margin: 20px;
}

.Footer-two{
    margin:20px;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

/*media Queries*/

@media screen and (max-width:800px) {
    body{
        font-size:10px;
    }
    
}

@media screen and (max-width:500px) {
   .Course-card{

      flex-basis:40%;
   }
   .Sale-image__offer{
    display: none;
   }

   .Categories{
    display: none;
   }
   .Navbar__s3__icons{

    display: none;
   }
    
}

